
input{
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    top : 10px;
}


.wrapper {
    padding: 10px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    font-weight: 700;
}

.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}


.passwordCheck input {
    width: 100%;
}
.nick input {
    width: 100%;
}


.phone {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

#phone1 {
    width: 100%;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}



.auth {
    display: flex;
    justify-content: space-between;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.auth div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.auth button {
    width: 70%;
}

.timer div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.timer button {
    width: 70%;
}

.area select {
    width: 100%;
    height: 40px;
}

.gender {
    text-align: center;

}
input[type="radio"] {
    margin-right: 3px; /* 오른쪽 여백 추가 */
}

#signUpButton {
    background-color: #4CAF50; /* 기본 배경색 */
    color: white; /* 기본 글자색 */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s; /* 색상 변경 효과의 지속 시간 설정 */
    width: 100%;
    cursor:pointer;
}

#signUpButton:hover {
    background-color: #45a049; /* 마우스를 올렸을 때의 배경색 */
    color: black; /* 마우스를 올렸을 때의 글자색 */
}

#closeButton {
    background-color: #4CAF50; /* 기본 배경색 */
    color: white; /* 기본 글자색 */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s; /* 색상 변경 효과의 지속 시간 설정 */
    width: 100%;
    cursor:pointer;
}

#closeButton:hover {
    background-color: #45a049; /* 마우스를 올렸을 때의 배경색 */
    color: black; /* 마우스를 올렸을 때의 글자색 */
}

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}

.checkboxes{
    text-align: center;
}

h1{
    margin-bottom: 10px;
}


